body{
  font-size: 1rem;
}

.nav{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: #8BC34A;
  /* display: table; */
}

.nav ul{
  /* display: table-cell; */
  vertical-align: middle;
}

.nav ul li{
  font-size: 1 em;
  line-height: 2em;
}